<a href="https://colab.research.google.com/github/Jayakumar1305/ETL-Workflow-with-PYTHON/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql import Row

In [ ]:
df = SparkSession.builder.appName("ColabPySpark").getOrCreate()

In [ ]:
data = [(1, "Alice", 25, 5000), (2, "Bob", 30, 6000), (3, "Charlie", 35, 7000)]
columns = ["ID", "Name", "Age", "Salary"]

df = df.createDataFrame(data, columns)

In [ ]:
df.show()

+---+-------+---+------+
| ID|   Name|Age|Salary|
+---+-------+---+------+
|  1|  Alice| 25|  5000|
|  2|    Bob| 30|  6000|
|  3|Charlie| 35|  7000|
+---+-------+---+------+

In [ ]:
df.printSchema()

root
 |-- ID: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: long (nullable = true)
 |-- Salary: long (nullable = true)

In [ ]:
df.columns

['ID', 'Name', 'Age']

In [ ]:
df.describe().show()

+-------+---+-------+----+
|summary| ID|   Name| Age|
+-------+---+-------+----+
|  count|  3|      3|   3|
|   mean|2.0|   NULL|30.0|
| stddev|1.0|   NULL| 5.0|
|    min|  1|  Alice|  25|
|    max|  3|Charlie|  35|
+-------+---+-------+----+

In [ ]:
df = df.withColumn("Bonus", df["Salary"] * 0.1)

In [ ]:
df.show()

+---+-------+---+------+-----+
| ID|   Name|Age|Salary|Bonus|
+---+-------+---+------+-----+
|  1|  Alice| 25|  5000|500.0|
|  2|    Bob| 30|  6000|600.0|
|  3|Charlie| 35|  7000|700.0|
+---+-------+---+------+-----+

In [ ]:
from pyspark.sql.functions import sum, min, max, count,avg # Removed 'add'

# To perform addition, you can use the '+' operator on columns:
# For example:
# df.select(df["Salary"] + df["Bonus"]).show()

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, LongType

# Initialize Spark Session
spark = SparkSession.builder.appName("ColabPySpark").getOrCreate()

# Define Schema (Adding Bonus Column)
schema = StructType([
    StructField("ID", LongType(), True),
    StructField("Name", StringType(), True),
    StructField("Age", IntegerType(), True),
    StructField("Salary", LongType(), True),
    StructField("Bonus", LongType(), True)  # Adding Bonus column
])

# Define Data
data = [(1, "Alice", 25, 5000, 500),
        (2, "Bob", 30, 6000, 600),
        (3, "Charlie", 35, 7000, 700)]

df = spark.createDataFrame(data, schema=schema)

# New row(s) to add
new_data = [(4, "Eve", 40, 8000, 800),
            (5, "David", 45, 9000, 900)]  # Adding multiple rows

new_df = spark.createDataFrame(new_data, schema=schema)

# Append new rows using union()
df = df.union(new_df)

# Show Updated DataFrame
df.show()

+---+-------+---+------+-----+
| ID|   Name|Age|Salary|Bonus|
+---+-------+---+------+-----+
|  1|  Alice| 25|  5000|  500|
|  2|    Bob| 30|  6000|  600|
|  3|Charlie| 35|  7000|  700|
|  4|    Eve| 40|  8000|  800|
|  5|  David| 45|  9000|  900|
+---+-------+---+------+-----+

In [ ]:
df.select(
    sum("Salary").alias("Total Salary"),
    min("Salary").alias("Minimum Salary"),
    max("Salary").alias("Maximum Salary"),
    count("ID").alias("Number of Employees"),
    avg("Salary").alias("Average Salary")
).show()

+------------+--------------+--------------+-------------------+--------------+
|Total Salary|Minimum Salary|Maximum Salary|Number of Employees|Average Salary|
+------------+--------------+--------------+-------------------+--------------+
|       35000|          5000|          9000|                  5|        7000.0|
+------------+--------------+--------------+-------------------+--------------+

If null present in the column then Pyspark won't consider null value it wil give output.

In [ ]:
from pyspark.sql import SparkSession
Array_df = SparkSession.builder.appName("ColabPySpark").getOrCreate()

In [ ]:
Array_df = spark.createDataFrame([
    (1, "Alice", None, 5000, "HR"),
        (None, "Bob", 30, 6000, "IT"),
        (3, "Charlie", 35, None, "Finance"),
        (4, None, 34, 7000, "None")], ["id", "name", "age", "salary","dept"]) # Changed this line
#Array_df = spark.CreateDataframe(data,["id", "name", "age", "salary","dept"]) # Removing this line

In [ ]:
Array_df.show()

+----+-------+----+------+-------+
|  id|   name| age|salary|   dept|
+----+-------+----+------+-------+
|   1|  Alice|NULL|  5000|     HR|
|NULL|    Bob|  30|  6000|     IT|
|   3|Charlie|  35|  NULL|Finance|
|   4|   NULL|  34|  7000|   None|
+----+-------+----+------+-------+

In [ ]:
from pyspark.sql.functions import col, avg, when, coalesce

Array, Explode
Array : it use to combine two record into one record
Explode : it use to increase the row

In [ ]:
Array_df.show()

+----+-------+----+------+-------+
|  id|   name| age|salary|   dept|
+----+-------+----+------+-------+
|   1|  Alice|NULL|  5000|     HR|
|NULL|    Bob|  30|  6000|     IT|
|   3|Charlie|  35|  NULL|Finance|
|   4|   NULL|  34|  7000|  Admin|
+----+-------+----+------+-------+

Average of AGE

In [ ]:
Array_df.select(avg(col("age")))

DataFrame[avg(age): double]

In [ ]:
Array_df.select(avg(col("age"))).collect()

[Row(avg(age)=32.5)]

In [ ]:
Array_df.select(avg(col("age"))).collect()[0][0]

32.5

In [ ]:
agv_age = Array_df.select(avg(col("age"))).collect()[0][0]

32.5

In [ ]:
print(agv_age)

32.5

If name is null then change to Unknow

In [ ]:
Array_df.show()

+----+-------+----+------+-------+
|  id|   name| age|salary|   dept|
+----+-------+----+------+-------+
|   1|  Alice|NULL|  5000|     HR|
|NULL|    Bob|  30|  6000|     IT|
|   3|Charlie|  35|  NULL|Finance|
|   4|   NULL|  34|  7000|  Admin|
+----+-------+----+------+-------+

In [ ]:
Array_df.withColumn("name", when(col("name").isNull(), "Unknown").otherwise(col("name"))).show()

+----+-------+----+------+-------+
|  id|   name| age|salary|   dept|
+----+-------+----+------+-------+
|   1|  Alice|NULL|  5000|     HR|
|NULL|    Bob|  30|  6000|     IT|
|   3|Charlie|  35|  NULL|Finance|
|   4|Unknown|  34|  7000|  Admin|
+----+-------+----+------+-------+

In [ ]:
Array_df.withColumn("age", when(col("age").isNull(), agv_age).otherwise(col("age"))).show()

+----+-------+----+------+-------+
|  id|   name| age|salary|   dept|
+----+-------+----+------+-------+
|   1|  Alice|32.5|  5000|     HR|
|NULL|    Bob|30.0|  6000|     IT|
|   3|Charlie|35.0|  NULL|Finance|
|   4|   NULL|34.0|  7000|  Admin|
+----+-------+----+------+-------+

In [ ]:
Array_df.show()

+----+-------+----+------+-------+
|  id|   name| age|salary|   dept|
+----+-------+----+------+-------+
|   1|  Alice|NULL|  5000|     HR|
|NULL|    Bob|  30|  6000|     IT|
|   3|Charlie|  35|  NULL|Finance|
|   4|   NULL|  34|  7000|  Admin|
+----+-------+----+------+-------+

In [ ]:
Array_df.withColumn("salary", when(col("salary").isNull(), 0).otherwise(col("salary"))).show()

+----+-------+----+------+-------+
|  id|   name| age|salary|   dept|
+----+-------+----+------+-------+
|   1|  Alice|NULL|  5000|     HR|
|NULL|    Bob|  30|  6000|     IT|
|   3|Charlie|  35|     0|Finance|
|   4|   NULL|  34|  7000|  Admin|
+----+-------+----+------+-------+

In [ ]:
Array_df.filter(col("dept").isNotNull()).show()  # Add .show() to display the result

+----+-------+----+------+-------+
|  id|   name| age|salary|   dept|
+----+-------+----+------+-------+
|   1|  Alice|NULL|  5000|     HR|
|NULL|    Bob|  30|  6000|     IT|
|   3|Charlie|  35|  NULL|Finance|
|   4|   NULL|  34|  7000|  Admin|
+----+-------+----+------+-------+

In [ ]:
Array_df.withColumn("name", when(col("name").isNull(), "Unknown").otherwise(col("name"))) \
.withColumn("age", when(col("age").isNull(), agv_age).otherwise(col("age"))) \
.withColumn("salary", when(col("salary").isNull(), 0).otherwise(col("salary"))) \
.filter(col("dept").isNotNull()).show()

+----+-------+----+------+-------+
|  id|   name| age|salary|   dept|
+----+-------+----+------+-------+
|   1|  Alice|32.5|  5000|     HR|
|NULL|    Bob|30.0|  6000|     IT|
|   3|Charlie|35.0|     0|Finance|
|   4|Unknown|34.0|  7000|   None|
+----+-------+----+------+-------+

Creatin Dataframe and storing

In [ ]:
Clean_df = Array_df.withColumn("name", when(col("name").isNull(), "Unknown").otherwise(col("name"))) \
.withColumn("age", when(col("age").isNull(), agv_age).otherwise(col("age"))) \
.withColumn("salary", when(col("salary").isNull(), 0).otherwise(col("salary"))) \
.filter(col("dept").isNotNull())

In [ ]:
Clean_df.show()

+----+-------+----+------+-------+
|  id|   name| age|salary|   dept|
+----+-------+----+------+-------+
|   1|  Alice|32.5|  5000|     HR|
|NULL|    Bob|30.0|  6000|     IT|
|   3|Charlie|35.0|     0|Finance|
|   4|Unknown|34.0|  7000|   None|
+----+-------+----+------+-------+

Alternate way using "Coalesce" instead of "when"

In [ ]:
Alter_df = spark.createDataFrame([
    (1, "Alice", None, 5000, "HR"),
        (None, "Bob", 30, 6000, "IT"),
        (3, "Charlie", 35, None, "Finance"),
        (4, None, 34, 7000, "None")], ["id", "name", "age", "salary","dept"]) # Changed this line
#Array_df = spark.CreateDataframe(data,["id", "name", "age", "salary","dept"]) # Removing this line

In [ ]:
from pyspark.sql.functions import coalesce, col, when

In [ ]:
from pyspark.sql.functions import coalesce, col, lit  # Import lit

Alter_df.withColumn("name", coalesce(col("name"), lit("Unknown"))) \
    .withColumn("age", coalesce(col("age"), lit(agv_age))) \
    .withColumn("salary", coalesce(col("salary"),lit(0))) \
    .filter(col("dept").isNotNull()).show()

+----+-------+----+------+-------+
|  id|   name| age|salary|   dept|
+----+-------+----+------+-------+
|   1|  Alice|32.5|  5000|     HR|
|NULL|    Bob|30.0|  6000|     IT|
|   3|Charlie|35.0|     0|Finance|
|   4|Unknown|34.0|  7000|   None|
+----+-------+----+------+-------+

**Window Fucntion**

which will helps us to perform a calculation a set of records or set of rows
1.Partition
2.ordering
3.frame  - how i am going to perform the opertion

In [3]:
from pyspark.sql import SparkSession

# Initialize Spark Session
spark = SparkSession.builder.appName("ColabPySpark").getOrCreate()

data = [("Alice","Sales",5000),
        ("Babu","Sales",4000),
        ("Kumar","Hr",5000),
        ("Jai","Hr",6000),
        ("sri","Sales",3000)
        ]
Column = ["Name","Department","Salary"]
df = spark.createDataFrame(data,Column)

In [4]:
df.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
|Alice|     Sales|  5000|
| Babu|     Sales|  4000|
|Kumar|        Hr|  5000|
|  Jai|        Hr|  6000|
|  sri|     Sales|  3000|
+-----+----------+------+

In [13]:
from pyspark.sql.window import Window

In [14]:
WindowSpec = Window.partitionBy("Department").orderBy("Salary")

In [8]:
from pyspark.sql.functions import row_number

In [10]:
df.withColumn("Row Number" ,row_number().over(WindowSpec)).show()

+-----+----------+------+----------+
| Name|Department|Salary|Row Number|
+-----+----------+------+----------+
|Kumar|        Hr|  5000|         1|
|  Jai|        Hr|  6000|         2|
|  sri|     Sales|  3000|         1|
| Babu|     Sales|  4000|         2|
|Alice|     Sales|  5000|         3|
+-----+----------+------+----------+

Rank and Dense Rank

In [16]:
spark = SparkSession.builder.appName("ColabPySpark").getOrCreate()

data = [("Alice",5000),
        ("Babu",4000),
        ("Kumar",5000),
        ("Jai",6000),
        ("sri",3000),
        ("Murali",3000)
        ]
Column = ["Name","Salary"]
df = spark.createDataFrame(data,Column)

In [17]:
from pyspark.sql.functions import rank,dense_rank

In [18]:
WindowSpec = Window.orderBy(df["Salary"].desc())

In [19]:
df.withColumn("rank",rank().over(WindowSpec)).withColumn("dense_rank",dense_rank().over(WindowSpec)).show()

+------+------+----+----------+
|  Name|Salary|rank|dense_rank|
+------+------+----+----------+
|   Jai|  6000|   1|         1|
| Alice|  5000|   2|         2|
| Kumar|  5000|   2|         2|
|  Babu|  4000|   4|         3|
|   sri|  3000|   5|         4|
|Murali|  3000|   5|         4|
+------+------+----+----------+

In [23]:
from pyspark.sql.functions import sum  # Import PySpark's sum function

df.withColumn("Sum", sum("Salary").over(WindowSpec)).show()

+------+------+-----+
|  Name|Salary|  Sum|
+------+------+-----+
|   Jai|  6000| 6000|
| Alice|  5000|16000|
| Kumar|  5000|16000|
|  Babu|  4000|20000|
|   sri|  3000|26000|
|Murali|  3000|26000|
+------+------+-----+

In [24]:
from pyspark.sql.functions import col, sum, avg

In [25]:
df.withColumn("Avg",avg("Salary").over(WindowSpec)).show()

+------+------+-----------------+
|  Name|Salary|              Avg|
+------+------+-----------------+
|   Jai|  6000|           6000.0|
| Alice|  5000|5333.333333333333|
| Kumar|  5000|5333.333333333333|
|  Babu|  4000|           5000.0|
|   sri|  3000|4333.333333333333|
|Murali|  3000|4333.333333333333|
+------+------+-----------------+